<div class="ep-container">
  <div class="ep-input-container" [ngClass]="focusClass">
    <div
      class="ep-input"
      id="ep-input"
      #epInput
      contenteditable="true"
      (input)="value=epInput.innerText; getRange()"
      (focus)="focusClass = 'focus'"
      (blur)="focusClass = 'no-focus';"
      (click)="this.hidePicker = true"
    ><br/>
    </div>
    <div class="ep-button-container"><button id="ep-picker-button" (click)="openEmojiPicker()" class="ep-picker-button"></button></div>
    <div class="ep-picker-container">
        <div class="item-dropdown" [hidden]="hidePicker">
          <app-emoji-search
            #epEmojiSearch
            (reciveEmoji)="insertEmoji(epEmojiSearch.emoji)"
            >
          </app-emoji-search>
        </div>
    </div>
  </div>
  <footer class="ep-footer">
    <div class="ep-counter">
      {{ 140 - value.length }}
    </div>
  </footer>
</div>
