.ep-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ep-input-container {
  display: flex;
  justify-content: center;
  width: 400px;
  border: 2px solid #bcc;
  border-radius: 0.4em;
}

.ep-input-container.focus {
    outline: none !important;
    border: 2px solid #099;
    box-shadow: 0 0 20px #719ECE;
}

.ep-input-container.no-focus {
    outline: none !important;
    border: 2px solid #bcc;
    box-shadow: 0;
}

#ep-input {
  padding: 0.4em;
  width: 100%;
  height: 100px;
  outline: none !important;
  max-width: 400px;
}

.ep-picker {
  width: 64px;
  height: 64px;
  padding: 0.4em;
  color: #555;
}

.ep-picker:hover{
  color: #000;
}

.ep-picker-button {
  width: 16px;
  height: 16px;
  position: relative;
  background-image: url("https://unpkg.com/emoji-datasource-emojione@4.0.4/img/emojione/sheets-256/64.png");
  background-position: 10px 0px;
  background-repeat: no-repeat;
}

.ep-counter {
 display: flex;
 justify-content: flex-end;
}

.ep-footer {
  padding-right: 0.5em;
}
