<div class="ep-container">
  <div class="ep-input-container" [ngClass]="focusClass">
    <div
      class="ep-input"
      id="ep-input"
      #epInput
      contenteditable="true"
      (input)="value=epInput.innerText"
      (focus)="focusClass = 'focus'"
      (blur)="focusClass = 'no-focus'">
    </div>
    <div class="ep-picker"><button (click)="insertEmoji()" class="ep-picker-button"></button></div>
  </div>
  <footer class="ep-footer">
    <div class="ep-counter">
      {{ 140 - value.length }}
    </div>
  </footer>
</div>
