.ep-search-emojis-container {
  display: flex;
  flex-wrap: wrap;
}

.ep-emoji {
  margin: 0px;
  background-color: #3a3;
  text-align: center;
  width: 34px;
  height: 34px;
  padding: 0;
  background-color: rgba(0,0,0,0);
  background-image: url("https://unpkg.com/emoji-datasource-emojione@4.0.4/img/emojione/sheets-256/32.png");
  background-repeat: no-repeat;
  border: 0px;
  transition: transform .2s; /* Animation */
  transform: scale(0.7);
}

.ep-emoji-category {
  margin: 0px;
  background-color: #3a3;
  text-align: center;
  width: 22px;
  height: 22px;
  background-color: rgba(0,0,0,0);
  background-image: url("https://unpkg.com/emoji-datasource-emojione@4.0.4/img/emojione/sheets-256/20.png");
  background-repeat: no-repeat;
  border: none;
  transition: transform .2s; /* Animation */
  transform: scale(1);
}

.ep-emoji:hover{
    transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: grab;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 250px;
  max-width: 320px;
  padding: 0px;
  margin: 0 auto;
  background: #fff;
}

.ep-section {
  margin: 0 auto;
  flex-direction: column;
}

.ep-section h5 {
  text-align: left;
  padding: 5px 0px 10px 5px;
  margin: 0 auto;
}

.ep-input-tab {
  display: none;
}

.ep-label-tab {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  color: #333;
  padding: 3px;
  border: 1px solid transparent;
  border-bottom: 1px solid #ddd;
}

.ep-label-tab:hover {
  color: #888;
  cursor: pointer;
}

.ep-input-tab:checked + .ep-label-tab {
  color: #555;
  border: 1px solid #ddd;
  border-bottom: 2px solid orange;
}

.tab {
  display: inline-block;
}

.ep-search-input {
  margin: 10px auto;
  border: 2px solid #bcc;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
}

.ep-search-input:focus {
  outline: none !important;
  border: 2px solid #099;
  box-shadow: 0 0 20px #719ECE;
}

.ep-categories-container {
  max-height: 250px;
  overflow-y: scroll;
}
