.ep-search-emojis-container {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  overflow-y: scroll;
}

.ep-emoji {
  margin: 0px;
  background-color: #3a3;
  text-align: center;
  width: 34px;
  height: 34px;
  padding: 0;
  background-color: rgba(0,0,0,0);
  background-image: url("https://unpkg.com/emoji-datasource-emojione@4.0.4/img/emojione/sheets-256/32.png");
  background-repeat: no-repeat;
  border: 0px;
  transition: transform .2s; /* Animation */
  transform: scale(0.7);
}

.ep-emoji-category {
  margin: 0px;
  background-color: #3a3;
  text-align: center;
  width: 22px;
  height: 22px;
  background-color: rgba(0,0,0,0);
  background-image: url("https://unpkg.com/emoji-datasource-emojione@4.0.4/img/emojione/sheets-256/20.png");
  background-repeat: no-repeat;
  border: none;
  transition: transform .2s; /* Animation */
  transform: scale(1);
}

.ep-emoji:hover{
    transform: scale(1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

main {
  min-width: 250px;
  max-width: 320px;
  padding: 0px;
  margin: 0 auto;
  background: #fff;
}

section {
  padding: 20px 0 0;
  margin: 0 auto;
}

#content1 {
  display: none;
}
input {
  display: none;
}

label {
  display: inline-block;
  font-weight: 600;
  text-align: center;
  color: #333;
  padding: 3px;
  border: 1px solid transparent;
  border-bottom: 1px solid #ddd;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
  margin-left: 10px;
}

label:hover {
  color: #888;
  cursor: pointer;
}


input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-bottom: 2px solid orange;
}

.tab {
  display: inline-block;
}
