.ep-search-emojis-container {
  display: flex;
  flex-wrap: wrap;
}

.ep-emoji {
  margin: 0px;
  background-color: #3a3;
  text-align: center;
  width: 34px;
  height: 34px;
  padding: 0;
  background-color: rgba(0,0,0,0);
  background-image: url("https://unpkg.com/emoji-datasource-emojione@4.0.4/img/emojione/sheets-256/32.png");
  background-repeat: no-repeat;
  border: 0px;
  transition: transform .2s; /* Animation */
  transform: scale(0.7);
}

.ep-emoji:hover{
    transform: scale(1);
    cursor: pointer;
}

main {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.ep-section {
  margin: 0 auto;
  flex-direction: column;
}

.ep-section header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ep-section h5 {
  margin: 0;
  padding: 5px 0px 10px 5px;
}

.ep-section span {
  vertical-align: middle;
  color: #777;
  font-size: .70em;
  padding: 5px 10px 10px 5px;
}

.ep-input-tab {
  display: none;
}

.ep-tabs-container {
  display: flex;
  flex-direction: row;

}

.ep-category-tab {
  flex-grow: 1;
  margin: 0;
  padding: 0px;
}

.ep-label-tab {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  filter: grayscale(90%);
  border-bottom: 1px solid #BCC;
}

.ep-label-tab:hover {
  color: #888;
  cursor: pointer;
}

.ep-emoji-category {
  margin: 0px;
  background-color: #3a3;
  text-align: center;
  width: 22px;
  height: 22px;
  color: transparent;
  background-color: rgba(0,0,0,0);
  background-image: url("https://unpkg.com/emoji-datasource-emojione@4.0.4/img/emojione/sheets-256/20.png");
  background-repeat: no-repeat;
  border: none;
}

.ep-input-tab:checked + .ep-label-tab {
  filter: none;
  color: #555;
  border: 1px solid #BCC;
  border-top: 2px solid orange;
  border-bottom: 1px solid transparent;
  margin: -2px 0px 0px -1px;
}

.ep-search-input {
  margin: 10px auto;
  border: 2px solid #bcc;
  border-radius: 2px;
  padding: 5px 10px 5px 10px;
}

.ep-search-input:focus {
  outline: none !important;
  border: 2px solid #099;
  box-shadow: 0 0 20px #719ECE;
}

.ep-categories-container {
  max-height: 200px;
  overflow-y: scroll;
}
