<div class="ea-container">
  <div class="ea-input-container" [ngClass]="focusClass">
    <div
      class="ea-input"
      id="ea-input"
      #eaInput
      contenteditable="true"
      (input)="value=eaInput.innerText; getRange()"
      (focus)="focusClass = 'focus'"
      (blur)="focusClass = 'no-focus';"
      (click)="this.hidePicker = true">
    <br/>
    </div>
    <div class="ea-button-container">
      <button id="ea-picker-button" (click)="openEmojiPicker()" class="ea-picker-button"></button>
    </div>
    <div class="ea-picker-container">
        <div class="ea-item-dropdown" [hidden]="hidePicker">
          <app-emoji-search
            #eaEmojiSearch
            (reciveEmoji)="insertEmoji(eaEmojiSearch.emoji)"
            >
          </app-emoji-search>
        </div>
    </div>
  </div>
  <footer class="ea-footer">
    <div class="ea-counter">
      {{ 140 - value.length }}
    </div>
  </footer>
</div>
